article.component-public-criteria-query-string
  form((ngSubmit)="submit()")
    .flex-container
      .flex-container-section-input
        .query-string-input-container
          input.query-string-input(
            type="search",
            [ngModelOptions]="{standalone: true}", [(ngModel)]="queryString",
            placeholder="Поиск"
          )
      .flex-container-section-submit
        button.form-text-button.search-submit-button(
          type="submit",
          [disabled]="isSearchButtonDisabled()"
        )
          i.fa.fa-fw.fa-search
          span.title Найти
    .criteria-container
      .indicator(*ngIf="isThemeCriteriaAvailable()")
        .theme-id-criteria-container
          .badge.badge-light-blue
            .badge-flex-container
              .badge-section.badge-section-title
                i.fa.fa-bookmark
                span.title {{ getThemeTitle() }}
              .badge-section.badge-section-close
                button.close((click)="removeThemeCriteria()", title="Щелкните, чтобы убрать этот фильтр")
                  i.fa.fa-times