article.component.component-post-attachment
  div(*ngIf="is('youtube')")
    cass-attachment-youtube([attachment]="attachment", [view-mode]="viewMode", (open)="open($event)")
  div(*ngIf="is('image')")
    cass-attachment-image([attachment]="attachment", [view-mode]="viewMode", (open)="open($event)")
  div(*ngIf="is('page')")
    cass-attachment-page([attachment]="attachment", [view-mode]="viewMode", (open)="open($event)")
  div(*ngIf="is('webm')")
    cass-attachment-webm([attachment]="attachment", [view-mode]="viewMode", (open)="open($event)")
  div(*ngIf="is('unknown')")
    cass-attachment-link([attachment]="attachment", [view-mode]="viewMode", (open)="open($event)")