cass-community-create-modal-form((abort)="abort()", (next)="next()")
  .form
    .input-group
      label.form-label
        span.label-text Название
        input.form-input(
          type="text",
          required="",
          minlength="3",
          maxlength="30",
          placeholder="Название, заголовок сообщества",
          [(ngModel)] = "model.title",
          #ngControlTitle="ngForm"
        )
    .input-group
      label.form-label
        span.label-text Описание
        input.form-input(
          type="text",
          placeholder="(Опционально) В одну строку про сообщество",
          [(ngModel)]="model.description"
        )
    .input-group
      label.form-label
        span.label-text Тематика
          cass-theme-select([value]='model.theme_ids', multiple="false")