article.component.component-post-form([ngClass]="{ 'component-post-form--extended': isExtended(), 'component-post-form--not-extended': !isExtended() }")
  cass-form-progress-lock(*ngIf="isLoading()")
  form.form.card((ngSubmit)="submit()")
    .post-form-section
      .post-content-container
        textarea.content(
          #contentTextArea,
          placeholder="Новый пост…",
          [ngModelOptions]="{standalone: true}", [(ngModel)]="model.content",
          (focus)="focus()",
          (blur)="blur()"
        )
    .post-form-section(*ngIf="isLinkBoxRequested()")
      cass-post-form-link-input(
        (attach-link)="model.addAttachment($event)",
        (detach-link)="deleteAttachments()"
      )
    .post-form-section(*ngIf="isExtended()")
      footer.post-form-footer
        .form-section
          button(type="button", (click)="cancel()").form-text-button
            span Отмена
        .form-section
          select
        .form-section
          button(type="submit", [disabled]="! model.isValid()").form-button.form-button-green
            span Разместить
    .post-form-section(*ngIf="hasAttachments()")
      .attachment(*ngIf="model.getAttachment()")
        cass-post-attachment([attachment]="model.getAttachment()")
      .attachment-actions
        .attachment-actions-section
        .attachment-actions-section
          button(type="button", (click)="deleteAttachments()").form-text-button
            span Удалить приложение
  .attachment-controls(*ngIf="! hasAttachments()")
    .attach-control.attach-link
      button.attach-button((click)="requestLinkBox()")
        i.fa.fa-link
        span.title Прикрепить ссылку
    .attach-control.attach-file
      label(for="componentPostFormFileInput")
        input#componentPostFormFileInput.file(type="file", (change)="onFileChange($event)")
        div.attach-button
          i.fa.fa-cloud-upload
          span.title Прикрепить файл