.cass-padding-box-15
  input#CommunityImageUpload(hidden, type='file', (change)='onSelect($event)', #communityImageUploadInput)
  header.tab-modal-header
    h1 Изображение
  .community-image-form(*ngIf='cropper.file')
    .community-image-container
      cass-image-cropper((cropInit)="onChange()", (cropEnd)="onChange()")
    .community-image-controls
      .form-button.form-button-primary((click)="cancel()")
        i.fa.fa-fw.fa-ban
        span Отмена

  .community-image-form(*ngIf='!cropper.file')
    .community-image-container
      cass-community-image(border="square", url="{{model.image.variants[64].public_path}}")
    .community-image-controls
      cass-form-button(*ngIf="!loading",type="button",title="УДАЛИТЬ",styles="solid",color="red",icon="'fa fa-fw fa-trash'",(click)="deleteImage()")
      cass-form-button(*ngIf="loading",type="button",title="УДАЛИТЬ",styles="solid",color="red",icon="'fa fa-fw fa-spinner fa-pulse'",(click)="deleteImage()")
      label(for="CommunityImageUpload")
        cass-form-button(type="button",title="Загрузить другое изображение",styles="solid",color="blue",icon="'fa fa-fw fa-upload'")

