.cass-padding-box-15
  header.tab-modal-header
    h1 Коммунити
  .form-section
    .input-group
      label.form-label
        span Название
        input.form-input(
          [ngModelOptions]="{standalone: true}", [(ngModel)]="model.title",
          type="text",
          placeholder="Название, заголовок коммунити"
        )
    .input-group
      label.form-label
        span Описание
        input.form-input(
          [ngModelOptions]="{standalone: true}", [(ngModel)]="model.description",
          type="text",
          placeholder="Подзаголовок коммунити"
        )
  .form-section.modal-list
    header.tab-modal-header
      h2 Тематика
    ul.theme-options.modal-list-container
      li.modal-list-item
        .modal-list-icon
          .modal-list-icon-container
            i.fa.fa-bookmark
        .modal-list-info
          h1 Коммунити посвящено определенной тематике
          p Если ваше коммунити посвященно определенной професиональной тематике, то вы можете получить больше посетителей и участников, если активируете эту опцию и укажите, какой именно тематике посвящено ваше коммунити
          // Если опция не включена, то cass-theme-select не должен отображаться
          cass-theme-select(
            (change)='updateThemeId($event)',
            [value]='selectedThemeId',
            multiple='false',
            *ngIf='isCommunitySettingsModalThemeEnabled'
          )
        .modal-list-controls
          div.form-switch-button
            input.form-switch-button-checkbox(
              type="checkbox", id="communitySettingsModalThemeEnabled", checked="", [ngModelOptions]="{standalone: true}", [(ngModel)]="isCommunitySettingsModalThemeEnabled",
              (ngModelChange)="communitySettingsModalThemeEnabledChange($event)"
            )
            label.form-switch-button-label(for="communitySettingsModalThemeEnabled")
      // Опция отображается, только если опция выше активирована
      li.modal-list-item(*ngIf="isCommunitySettingsModalThemeEnabled")
        .modal-list-icon
          .modal-list-icon-container
            i.fa.fa-bullhorn
        .modal-list-info
          h1 Коммунити должно отображаться в паблике
          p Паблик – это основной траффик. Именно оттуда случайные посетители этого сервиса смогут найти ваше коммунити.
        .modal-list-controls
            div.form-switch-button
              input.form-switch-button-checkbox(
                type="checkbox",
                id="communitySettingsModalThemeEnablePublic",
                [ngModelOptions]="{standalone: true}", [(ngModel)]="model.public_options.public_enabled",
                (ngModelChange)="communitySettingsModalThemeEnablePublicChange($event)"
              )
              label.form-switch-button-label(for="communitySettingsModalThemeEnablePublic")
      // Опция отображается, только если обе опции выше активированы
      li.modal-list-item(*ngIf="model.public_options.public_enabled")
        .modal-list-icon
          .modal-list-icon-container
            i.fa.fa-cab
        .modal-list-info
          h1.mark Я обязуюсь модерировать свое коммунити
          p Если вы не собираетесь модерировать свое коммунити, то наши алгоритмы выборки будут считать ваше коммунити низкоприоритетным.
        .modal-list-controls
            div.form-switch-button
              input.form-switch-button-checkbox(
                type="checkbox",
                id="communitySettingsModalThemeWillModerate",
                [ngModelOptions]="{standalone: true}", [(ngModel)]="model.public_options.moderation_contract"
              )
              label.form-switch-button-label(for="communitySettingsModalThemeWillModerate")
  .form-section
    header.tab-modal-header
      h2 Действия
    .delete-community-form
      div(*ngIf="! (deleteRequest.isRequested() || deleteRequest.isConfirmed())")
        button.form-text-button(
          (click)="deleteRequest.request()",
          [disabled]="deleteRequest.isButtonDisabled()"
        )
          i.fa.fa-fw.fa-trash
          span Я хочу удалить это коммунити
      div(*ngIf="  deleteRequest.isRequested()")
        button.form-button.form-button-red(
          (click)="deleteRequest.confirm()"
        )
          i.fa.fa-fw.fa-trash
          span Отправить запрос на удаление коммунити
        button.form-button(
          (click)="deleteRequest.cancel()"
        )
          span Отмена
      div(*ngIf="deleteRequest.isConfirmed()")
        p.request-sent Запрос на удаление коммунити отправлен.
        button.form-text-button
          i.fa.fa-fw.fa-ban
          span Отозвать запрос
