article.component.component-profile-setup-screen-image
  form.form
    .profile-modal-tab-image
      .profile-image-form
        .profile-image-container
          cass-profile-image(border='square', [url]='getProfileImage()')
        .profile-image-controls
          cass-form-button(*ngIf="!isDeleting",type="button", (click)="deleteAvatar()",title="Удалить",styles="text", icon="'fa fa-fw fa-trash'")
          cass-form-button(*ngIf="isDeleting",type="button", (click)="deleteAvatar()",title="Удалить",styles="text", icon="'fa fa-spinner fa-pulse fa-fw'")
          cass-form-button(type="button", (click)='uploadProfileImage()', title="Загрузить другое изображение", icon="'fa fa-fw fa-upload'",styles="solid",color="#2196F3")
      div(*ngIf='upload.isOpened()')
        cass-upload-image-modal((close)='upload.close()', (complete)='upload.close()')
    footer.form-footer
      .form-footer-section
        .form-footer-item
          cass-form-button(type="button", (click)="back()",title="НАЗАД",styles="text")
      .form-footer-section
        .form-footer-item
          cass-form-button(type="button", (click)="skip()",title="ДАЛЕЕ",styles="text")
