div.component.component-profile-switcher
  cass-form-progress-lock(*ngIf="status.isLoading()")
  header.profile-switcher-header.form-header
    h1 {{ 'switch-profile' | translate }}
  div.profiles
    div.row
      div.item
        div(*ngIf="  hasProfile(0)")
          cass-profile-card((open)="switchToProfile($event)", [profile]="getProfile(0)", view-mode="grid")
        div(*ngIf="! hasProfile(0)")
          cass-profile-switcher-create-profile-placeholder((create)="createNewProfile()")
      div.item
        div(*ngIf="  hasProfile(1)")
          cass-profile-card((open)="switchToProfile($event)", [profile]="getProfile(1)", view-mode="grid")
        div(*ngIf="! hasProfile(1)")
          cass-profile-switcher-create-profile-placeholder((create)="createNewProfile()")
    div.row
      div.item
        div(*ngIf="  hasProfile(2)")
          cass-profile-card((open)="switchToProfile($event)", [profile]="getProfile(2)", view-mode="grid")
        div(*ngIf="! hasProfile(2)")
          cass-profile-switcher-create-profile-placeholder((create)="createNewProfile()")
      div.item
        div(*ngIf="  hasProfile(3)")
          cass-profile-card((open)="switchToProfile($event)", [profile]="getProfile(3)", view-mode="grid")
        div(*ngIf="! hasProfile(3)")
          cass-profile-switcher-create-profile-placeholder((create)="createNewProfile()")
  footer.form-footer
    .form-footer-section
      .cass-padding-box-5
        button.form-text-button((click)="close()")
          span.title {{ "cancel" | translate }}
    .form-footer-section
      .cass-padding-box-5
        button.form-button.form-button-green([disabled]="! canCreateMoreProfiles()")
          span.title {{ "create-profile" | translate }}