.modal.fade(tabindex='-1', role='dialog' #feedbackModal)
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4#myModalLabel.modal-title Feedback Response
      .modal-body
        blockquote.blockquote
          img.img-thumbnail.pull-left(
            src="{{feedback.profile.entity.image.variants['32'].public_path}}"
          )
          small.text-muted{{feedback.description}}
          footer.blockquote-footer 
            i {{feedback.profile.entity.greetings.greetings}}
        textarea.form-control(
          rows="3",
          [(ngModel)]="description"
        )
      .modal-footer
        button.btn.btn-secondary(
          type='button',
          data-dismiss='modal'
        )
          i.fa.fa-fw.fa-ban(aria-hidden="true")
          | &nbsp; Cancel
        button.btn.btn-primary-outline(
          type='button',
          (click)="reply()",
          [disabled]="!isValid()"
        )
          i.fa.fa-fw.fa-envelope(aria-hidden="true")
          | &nbsp; Send
    