div.component.component-public-menu
  div.flexbox-container
    div.top
      div.menu-list
        ul.menu-list-ui
          li
            a.menu-list-item(
              type="button",
              title="{{ 'cass.module.public.menu.theme.title' | translate }}",
              [routerLink]="getThemesRoute()",
              [routerLinkActive]="['active']"
            )
              i.fa.fa-fw.fa-bookmark
              span.title {{ 'cass.module.public.menu.theme.title' | translate }}
          li
            a.menu-list-item(
              type="button",
              title="{{ 'cass.module.public.content-type.all.title' | translate }}",
              [routerLink]="getContentRoute('all')",
              [routerLinkActive]="['active']"
            )
              i.fa.fa-fw.fa-asterisk
              span.title {{ 'cass.module.public.content-type.all.title' | translate }}
          li
            a.menu-list-item(
              type="button",
              title="{{ 'cass.module.public.content-type.video.title' | translate }}",
              [routerLink]="getContentRoute('video')",
              [routerLinkActive]="['active']"
            )
              i.fa.fa-fw.fa-video-camera
              span.title {{ 'cass.module.public.content-type.video.title' | translate }}
          li
            a.menu-list-item(
              type="button",
              title="{{ 'cass.module.public.content-type.image.title' | translate }}",
              [routerLink]="getContentRoute('image')",
              [routerLinkActive]="['active']"
            )
              i.fa.fa-fw.fa-image
              span.title {{ 'cass.module.public.content-type.image.title' | translate }}
          li
            a.menu-list-item(
              type="button",
              title="{{ 'cass.module.public.content-type.link.title' | translate }}",
              [routerLink]="getContentRoute('link')",
              [routerLinkActive]="['active']"
            )
              i.fa.fa-fw.fa-link
              span.title {{ 'cass.module.public.content-type.link.title' | translate }}
          li
            a.menu-list-item(
              type="button",
              title="{{ 'cass.module.public.content-type.text.title' | translate }}",
              [routerLink]="getContentRoute('text')",
              [routerLinkActive]="['active']"
            )
              i.fa.fa-fw.fa-file-text
              span.title {{ 'cass.module.public.content-type.text.title' | translate }}
    div.bottom
